.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 250px;
}

@media (max-width: 1199px) {
    .file-upload-container{
        margin: 0;
    }
}

.file-upload-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #F1F8EC;
    padding: 25px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.step-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px 25px 25px;
}

.upload-icon {
    margin-bottom: 16px;
    fill: #7ABB4A;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.upload-label p {
    font-size: 14px;
    color: #999;
    margin-top: 8px;
}

.file-input {
    display: none;
}

.file-data-container {
    margin-top: 16px;
}

.file-data-container h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.file-data-container p {
    font-size: 14px;
}

.somple-href {
    color: #7abb4a;
    text-decoration: underline;
}

/* Customize Lightning Button */
.custom-button {
    --sds-c-button-brand-color-background: #7ABB4A;
    --sds-c-button-brand-color-text: #ffffff;
    --slds-c-button-brand-color-background-hover : #7ABB4A;
    --slds-c-button-brand-color-border : #7ABB4A;
    --slds-c-button-brand-color-border-hover : #7ABB4A;
}
.custom-button-clicked {
    --sds-c-button-brand-color-background: #7ABB4A;
    --sds-c-button-brand-color-text: #ffffff;
    --slds-c-button-brand-color-background-hover: #7ABB4A;
    --slds-c-button-brand-color-border: #7ABB4A;
    --slds-c-button-brand-color-border-hover: #7ABB4A;
}

.help-text-container {
    position: relative;
}

.help-text {
    position: absolute;
    display: none;
    left: 386px;
    top: -15px;
}

.info-slider{
    float: left;
}

.file-message {
    display: inline-block;
    font-size: 18px;
    color: #6C6C6C;
}

.slds-btn-sm {
    padding: 0.275rem 0.85rem 0.275rem 0.65rem;
    font-family: 'Proxima Nova Bold' !important;
    font-size: 12px;
    height: 32px;
  }
  
  .slds-btn-md {
    padding: 12px 24px 12px 24px;
    font-size: 16px;
    font-family: 'Proxima Nova Bold' !important;
  }


  .btn-no-icon{
    padding: 0.4rem 1.5rem !important;
  }
  
  .slds-btn {
    margin: .375rem;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    /* -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  }

  .bc-green{
    color: var(--color-white);
    border-color: var(--color-green);
    background-color: var(--color-green);
  }

  .waves-effect:focus {
    outline: none !important;
  }
  
  .waves-effect:hover {
    opacity: 1;
  }