* {
    font-family: 'Proxima Nova' !important;
}

:host {
    --grey-color: #D7D7D7;
    --green-color: #7ABB4A;
    --link-color: #1D1D1D;
    --text-color: #6C6C6C;
    --even-row-color: #FFFFFF;
    --odd-row-color: #F7F7F7;
    --scroll-color: #F6F6F6;
    --active-color: #404b5b;
    --white-color: #EDEDED;
    --btn-grey-color: #A4A4A4;
}

/* Media Queries Start -- */
/* Portrait and landscape Kindle Fire HD 7" */
@media only screen and (min-width: 1200px) and (max-width: 1550px){
    [data-customtooltip]{
        left: 74% !important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {
    /* .vehicle-info {
        flex: 1 1 30% !important;
    } */

    /* .map-state {
        flex: 1 1 30% !important;
    } */

    .map-config {
        left: 52% !important;
    }

    /* .miles-view {
        padding-top: 58px !important;
        flex: 1 1 100% !important;
    } */

    /* .middle-block {
        height: 349px !important;
    } */
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
    .vehicle-info{
        flex-basis: 380px !important;
    }

    .vehicle_1{
        flex-direction: column !important;
    }

    .vehicle_1-1{
        flex-direction: row !important;
        width: 209px;
    }

    .map-state{
        flex-direction: column !important;
    }

    .miles-view{
        padding-top: 63px;
    }

    .slds-p-left_small.miles-view:before {
        border-top: 1px solid #d7d7d7;
        content: "";
        width: 100%;
        display: block;
        padding-bottom: 23px;
    }

    .carProfile{
        position: inherit !important;
        margin: 0 auto;
    }

    .map-config{
        position: inherit !important;
        top: 0 !important;
        left: 0 !important;
    }

    .view-map{
        bottom: -32px !important;
    }

    .map-state_1{
        flex-basis: 93px !important;
        padding-top: 10px;
    }

    .spacer_1{
        height: 12px !important;
    }

    .vehicle_font{
        font-size: 16px !important;
        line-height: 16px !important;
    }

    .vehicle_font_1{
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .map-state-font{
        font-size: 16px !important;
        line-height: 16px !important;
    }

    .map-state-font_1{
        font-size: 14px !important;
        line-height: 14px !important;
    }

}

/* ipad Mini Portrait */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .vehicle-info{
        flex-basis: 323px !important;
    }

    .vehicle_font{
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .vehicle_font_1{
        font-size: 12px !important;
        line-height: 12px !important;
    }

    .map-state-font{
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .map-state-font_1{
        font-size: 12px !important;
        line-height: 12px !important;
    }

    .vehicle_1-1{
        flex-direction: row !important;
        width: 176px;
    }
		
	[data-customtooltip]{
      left: 8px !important;
      top: 66px !important;
    }
}

[data-customtooltip] {
    cursor: pointer;
    position: absolute;
    left: 94%;
    top: 11px;
}

[data-customtooltip]::after {
    background-color: #F7F7F7;
    font-family: 'Proxima Nova SemiBold' !important;
    color: #1D1D1D;
    width: 180px;
    white-space: normal;
    font-size: 12px;
    padding: 8px 12px;
    height: fit-content;
    z-index: 1;
    border-radius: 2px;
    border: 1px solid #4DBFFF;
    position: absolute;
    bottom: 0px;
    left: 100%;
    top: 14px;
    content: attr(data-customTooltip);
    transform: translate(4%, -45%) scale(0); /*translate(-50%, 110%) scale(0)*/;
    transform-origin: right;
    transition: 0.14s;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

[data-customtooltip]:hover:after {
    display: block;
    transform: translate(4%, -45%) scale(1);
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.miles-view{
    flex-basis: 410px;
    flex-grow: 2;
}

.map-config {
    position: absolute;
    width: 186px;
    height: 93px;
    top: 20px;
    left: 40%
}

.arrow-svg{
    margin: 0 0 1px 2px;
    cursor: pointer;
}

.map-state{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    flex-basis: 248px;
    flex-grow: 1;
    /* margin: 0 0px 35px 0px; */
}

.vehicle-info{
    flex-basis: 310px;
    flex-grow: 1;
    margin: 0 15px 35px 0;
    position:relative;
}

.vehicle_1{
    display: flex;
    flex-direction: row;
}

.vehicle_1-1{
    display: flex;
    flex-direction: column;
		position: relative;
}

.map-state_1{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    flex-basis:115px;
}

.spacer_1{
    width: 200px;
    height: 25px;
    margin-right:0px;
}

.carProfile{
    left: 49%;
    top: 40px;
    width: 189px;
    height: inherit;
    position: absolute;
}

.map-state-font{
    font-size: 16px; 
    font-family: 'Proxima Nova Bold' !important; 
    color: #1D1D1D;
}

.map-state-font_1{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #6C6C6C;
}

.vehicle_font{
    font-family: 'Proxima Nova Bold' !important;
    font-size: 16px;
    line-height: 16px;
    color: #1D1D1D;
}

.vehicle_font_1{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #6C6C6C;
    font-family: 'Proxima Nova' !important
}

.fa,
.fas,
.fa-solid,
.fa-light,
.fa-regular {
    font-family: "Font Awesome 6 Free" !important
}

.middle-block {
    height: auto;
    background: var(--odd-row-color);
    border-radius: 20px;
}

.slds-btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
}


.bc-grey {
    background: none !important;
    background-color: var(--white-color) !important;
    font-family: 'Proxima Nova Bold' !important;
    color: var(--btn-grey-color);
}

.bc-white {
    background: none !important;
    background-color: var(--even-row-color) !important;
    font-family: 'Proxima Nova Bold' !important;
    color: var(--green-color);
}

.bc-green {
    background: none !important;
    background-color: var(--green-color) !important;
    font-family: 'Proxima Nova Bold' !important;
    color: var(--even-row-color);
}

.is-active {
    background: none !important;
    background-color: #f1f8ec !important;
    font-family: 'Proxima Nova Bold' !important;
    color: var(--green-color);
    opacity: 1 !important;
}

.slds-btn {
    /* margin: .375rem; */
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    /* -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
}

.waves-effect:focus {
    outline: none !important;
}

.waves-effect:hover {
    opacity: 1;
}

.icon {
    width: 32px !important;
    height: 32px !important;
}

.btn-trip {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    padding: 0.8rem 1.4rem !important;
}

.btn-toggle {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    padding: .4rem 1.5rem !important;
    border: 1px solid var(--green-color) !important;
    font-family: 'Proxima Nova Bold' !important;
    color: var(--green-color);
    opacity: 0.45;
}

.fa-arrow-right-from-bracket {
    color: #7ABB4A !important;
}

.filter-input {
    border: 0;
    padding-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-icon {
    width: 19px;
    height: 19px;
    margin: 10px 11px 10px 18px;
}

.search-holder {
    display: flex;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

.slds-input:focus {
    --slds-c-input-shadow: none !important;
    box-shadow: none !important;
}

/* .content-text {
    cursor: pointer;
}

.content-text:hover {
    color: var(--green-color) !important;
}

.content-text>*:hover {
    color: var(--green-color) !important;
} */

.content-text>*{
    font-family: 'Proxima Nova Bold' !important; 
    font-size: 32px; 
    line-height: 32px; 
    color: rgb(29, 29, 29);
}

.content-text + div{
    cursor: pointer;;
 }
 

.grid-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.vehicle-container{
    position: relative;
    width: auto;
    margin: 36px 0px 0 169px;
    /* margin: 0 auto; */
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux{
    border-color: var(--active-color) !important;
    background-color: var(--active-color) !important;
}

.slds-checkbox_toggle .slds-checkbox_faux.toogle-input{
    border-color: var(--active-color) !important;
    background-color: var(--active-color) !important;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container+.input-label .map--canada{
    color: #1D1D1D;
    font-family: 'Proxima Nova Bold' !important;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container+.input-label .map--us{
    color: rgba(29, 29, 29, 0.50);
    font-family: 'Proxima Nova' !important;
}

.slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container+.input-label .map--canada{
    color: rgba(29, 29, 29, 0.50);
    font-family: 'Proxima Nova' !important;
}

.slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container+.input-label .map--us{
    color: #1D1D1D;
    font-family: 'Proxima Nova Bold' !important;
}

.slds-checkbox_toggle .slds-checkbox_faux{
    box-shadow: none !important;
}

.map-label{
    font-size: 14px;
    line-height: 136.8%;
}

.view-map{
    position: absolute;
    bottom: 0;
}

.slds-back-btn{
    font-family: 'Proxima Nova Bold' !important;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 1rem 1rem !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.btn-grey{
    color: var(--green-color) !important;
    border: 1px solid var(--grey-color) !important;
    background: var(--even-row-color) !important;
}


.close-btn{
    background: var(--even-row-color);
    position: absolute;
    right: 7px;
    top: 9px;
}

.slds-checkbox_toggle .slds-checkbox_faux::before{
    content: 'USA';
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Proxima Nova' !important;
    position: absolute;
    top: 0px;
    right: 17px;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:after{
    border-bottom-style: none !important;
    border-right-style: none !important;
    content: 'Canada';
    color: #FFFFFF;
    font-family: 'Proxima Nova' !important;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 14px;
    width: 0 !important;
    height: 0 !important;
    transform: none !important;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux{
    width: 92px;
}

.slds-checkbox_toggle .slds-checkbox_faux_container .slds-checkbox_faux{
    width: 77px;
}

/* .breadcrumb {
    display: inline-block;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 35%);
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
    text-align: center;
}

.flat a{
    background: white;
}

.flat a:hover:after{
    background: #7ABB4A;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 36px;
    padding: 0 10px 0 60px;
    position: relative;
    color: var(--link-color) !important;
    transition: all 0.5s;
    font-weight: 700;
}

.flat a:hover, .flat a.active, .flat a:hover:after, .flat a.active:after {
    background: var(--green-color);
}

.breadcrumb a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
}

.breadcrumb a:before {
    content: counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: bold;
}

.breadcrumb a:first-child:before {
    left: 14px;
}

.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}

.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    box-shadow: 2px -2px 0 2px rgb(0 0 0 / 40%), 3px -3px 0 2px rgb(0 0 0 / 10%);
    border-radius: 0 5px 0 50px;
    color: black;
    transition: all 0.5s;
    background: white;
} */