/* Responsive styles for iPad Air */
@media screen and (max-width: 768px) {
  .header_section {
    display: inherit;
  }
}  
.backdrop_style{
    background: white;
}
.modal_css{
  width: auto !important;
    height: auto !important;
    background: white;
    margin:  35px 13px 0px 116px !important;
    min-width: auto !important;
}
.filter-input{
  border: 0;
  padding-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-icon{
  width: 19px;
  height: 19px;
  margin: 10px 24px 10px 15px;
}
.row{
    display: flex;
}

.search_feild{
    position: relative;
    bottom: 7px;
}
h2{
    margin-top: 7px;
    margin-left: 63px;
    margin-right: 11px;
    color: #1D1D1D;
    font-family: 'Proxima Nova Bold' !important;
    font-size: 14px;
}
.sync_dropdown{
    width: 120px;
    margin-left: 10px;
    margin-top: 2px;
    /* margin: 11px; */
}
.report_name{
  font-size: 20px;
  /* font-weight: bold; */
  color: #7ABB4A;
  margin-top: 8px;
  margin-right: 26px;
  font-family: 'Proxima Nova Bold' !important;
}
.back_button{
    margin-left: 0px !important;
    border-radius: 10px !important;
    border: 1px solid #C9C9C9;
    /* padding: 10px; */
    --sds-c-icon-color-foreground-default: #65B244;
    font-family: 'Proxima Nova Bold' !important;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 1rem 1rem !important;
    /* border-radius: 10px !important; */
    box-shadow: none !important;
}        
.flat-container{
  display: flex;
  border: 1px solid #e0dbdb !important;
  padding: 0px 0 0px 9px !important;
  width: 135px;
  border-radius: 10px;
  position: relative;
  height: 33px;
  bottom: -5px;
  background: white;
  }
  .flat-input{
    padding: 8px 0 8px 9px !important;
    color: #1D1D1D !important;
    width: 100%;
    border: none;
    border: 0;
    padding-left: 0;
    border-radius: 8px;
    font-family: 'Proxima Nova' !important;
    font-size: 12px !important;
  }
  .flat-input:focus-visible{
    outline: 0 !important;
    outline-color: #FFFFFF!important;
  }
  .input-button{
    width: 50px;
    height: 34px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .date_range{
    display: flex;
    /* margin-left: 220px; */
    position: relative;
    bottom: 3px;
  }
  .date_label_02{
    position: relative;
    /* right: 62px; */
    top: 7px;
    left: 5px;
    font-size: 14px;
    font-family: 'Proxima Nova Bold' !important;
    color: #1D1D1D;
  }
  .header_section{
    display: flex;
    /* margin: 8px 25px; */
    margin: 8px 4px;
    padding: 12px 0px;
    justify-content: space-between;
  }
 .btn-trip{
  border-radius: 6px;
  margin: 2px 0px 0px 6px;
  height: 31.5px;
  background: #7ABB4A;
  color: white;
  border: none;
  font-family: 'Proxima Nova Bold' !important;
  font-size: 12px;
 }
 .btn_width{
  width: 70px;
 }
 .btn_width_01{
  width: 125px !important;
  height: 31px !important;
  top: 2px !important;

 }
 .footer_section{
    display: flex;
    /* margin: 21px 0px 16px 0px; */
    /* border-top: 1px solid lightgrey; */
 }
 .header1{
  display: flex;
  margin-top: 6px;
 }
 .btn-trip_01{
    border-radius: 8px;
    margin:  0px 8px;
    width: 55px;
    height: 34px;
    background: transparent !important;
    border-color: #7ABB4A;
    color: #7ABB4A !important;
    font-size: 12px;
    font-family: 'Proxima Nova Bold' !important;
    top: 8px;
 }
 h1{
    font-family: 'Proxima Nova Bold' !important;
    font-size: 14px;
    color: #1D1D1D;
    /* margin: 14px 1px 0px 20px; */
    margin: 14px 12px 0px 0px;
 }
.header_dropdown {
  width: 105px;
  margin-top: 2px;
 }
 .header_dropdown01{
  width: 200px;
  margin-top: 1.5px;
 }
 .search-holder{
  display: flex;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 221px;
  height: 40px;
}
 .slds-input:focus{
  --slds-c-input-shadow: none !important;
}

.search-icon-block{
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.slds-button:hover, .slds-button:focus{
  box-shadow: none !important;
}
button
:focus-visible {
    outline: none !important;
}

.slds-button_outline-brand:active{
  border-color: '#7abb4a' !important;
}
.update_btn{
  background: none !important;
    background-color: var(--green-color)!important;
    font-family: 'Proxima Nova Bold' !important;
    color: white !important;
    padding: 20px 40px !important;
    border-radius: 9px !important;
    font-size: 14px !important;
}
.Cancel_btn{
    background: none !important;
    font-family: 'Proxima Nova Bold' !important;
    background-color: rgb(64, 75, 90) !important;
    color: white !important;
    border: none;
    padding: 20px 40px !important;
    border-radius: 9px !important;
    font-size: 14px !important;

}
.close-btn{
  background: var(--even-row-color);
  position: absolute;
  right: 7px;
  top: 9px;
}