@keyframes rotate {
    /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  @keyframes rotationBack {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
  }
.spinner-background{
    width: 100%;
    height: 108%;
    background: #404b5b;
    opacity: 1;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1000000;
}
.mburseLoader{
    position: fixed;
    top: 49%;
    left: 49%;
    z-index: 1000000;
}
.mbloader {
    /* height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #78bc42;
    border-right-color: #295605;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%; */
    width: 48px;
    height: 48px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    -webkit-animation: rotation 2s linear infinite;
    animation: rotation 2s linear infinite;
  }
  .mbloader:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #78bc42;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-animation: rotationBack 1s linear infinite;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}