:host{
    --grey-color: #D7D7D7;
    --green-color: #7ABB4A;
    --link-color: #1D1D1D;
    --text-color: #6C6C6C;
    --even-row-color: #FFFFFF;
    --odd-row-color: #F7F7F7;
    --scroll-color: #F6F6F6;
    --active-color: #404B5B;
    --step-bg: #F1F8EC;
}


/* Media Queries Start ------- */ 

/* Portrait and landscape iPad, iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2 */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .flex-container-view{
        flex-flow: column !important;
    }

    .flex-view-1{
        flex: 1 1 33% !important;
        margin-right: 0 !important;
    }
    
    .flex-view-2{
        margin-right: 0 !important;
        margin-top: 30px !important;
        flex: 1 1 38% !important;
    }

    .flex-view-3{
        margin-top: 24px !important;
    }

    /* .middle-1{
        flex: 1 1 88% !important;
    }

    .middle-2{
        flex: 1 1 42% !important;
        padding-left: 1rem !important;
    }

    .middle-3{
        flex: 1 1 36% !important;
    }

    .middle-4{
        padding-top: 0 !important;
        flex: 1 1 28% !important;
        padding-left: 1rem !important;
    }

    .middle-5{
        padding-top: 0 !important;
        flex: 1 1 30% !important;
        padding-left: 1rem !important;
    } */

    .last-section{
        flex-flow: column !important;
    }

    .reimbursement-view{
        margin-top: 30px !important;
        margin-right: 0 !important;
    }

    .parameters-view{
        margin-top: 30px !important
    }

    /* .middle-block{
        flex-wrap: wrap !important;
        height: 300px !important;
    } */

  }

/* Portrait and landscape iPad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .flex-container-view{
        flex-wrap: wrap !important;
    }

    .last-section{
        flex-wrap: wrap !important;
    }

    .flex-view-1{
        flex: 1 1 33% !important;
    }
    
    .flex-view-2{
        margin-right: 0 !important;
        flex: 1 1 38% !important;
    }

    .flex-view-3{
        margin-top: 24px;
    }

    /* .middle-block{
        flex-wrap: wrap !important;
        height: 200px !important;
    }

    .middle-1{
        flex: 1 1 39% !important;
    }

    .middle-2{
        flex: 1 1 27% !important;
        padding-left: 1rem !important;
    }

    .middle-3{
        flex: 1 1 12% !important;
    }

    .middle-4{
        flex: 1 1 23% !important;
        padding-left: 1rem !important;
    }

    .middle-5{
        flex: 1 1 30% !important;
        padding-left: 1rem !important;
    } */

    .mileage-view{
        flex: 1 1 40% !important;
    }

    .reimbursement-view{
        flex: 1 1 38% !important;
        margin-right: 0 !important;
    }

    .parameters-view{
        margin-top: 28px !important;
        margin-bottom: 40px !important;
    }

}

/* Portrait and landscape Kindle Fire HD 7" */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    /* .middle-block{
        flex-wrap: wrap !important;
        height: 195px !important;
    }

    .middle-1{
        flex: 1 1 45% !important;
        padding-bottom: 0 !important;
    }

    .middle-2{
        flex: 1 1 28% !important;
        padding-bottom: 0 !important;
    }

    .middle-3{
        flex: 1 1 20% !important;
        padding-bottom: 0 !important;
    }

    .middle-4{
        padding-left: 1rem !important;
        padding-bottom: 0 !important;
        flex: 1 1 68%  !important;
    }

    .middle-5{
        padding-left: 1rem !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        flex: 1 1 23% !important;
    } */
  }

  @media only screen 
  and (device-width: 1280px) { 
    .flex-container-view{
        flex-wrap: wrap !important;
    }

    .last-section{
        flex-wrap: wrap !important;
    }

    .flex-view-1{
        flex: 1 1 38% !important;
    }
    
    .flex-view-2{
        margin-right: 0 !important;
        flex: 1 1 38% !important;
    }

    .flex-view-3{
        margin-top: 24px;
    }

    /* .middle-block{
        flex-wrap: wrap !important;
        height: 265px !important;
    }

    .middle-1{
        flex: 1 1 59% !important;
        padding-bottom: 0 !important;
    }

    .middle-2{
        flex: 1 1 27% !important;
        padding-left: 0rem !important;
        padding-bottom: 0 !important;
    }

    .middle-3{
        flex: 1 1 57% !important;
        padding-left: 1rem !important;
        padding-bottom: 0 !important;
    }

    .middle-4{
        flex: 1 1 25% !important;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
    }

    .middle-5{
        flex: 1 1 34% !important;
        padding-left: 1rem !important;
        padding-top: 4px !important;
    } */

    .mileage-view{
        flex: 1 1 40% !important;
    }

    .reimbursement-view{
        flex: 1 1 38% !important;
        margin-right: 0 !important;
    }

    .parameters-view{
        margin-top: 28px !important;
        margin-bottom: 40px !important;
    }

  }
  
.fa,
.fas,
.fa-solid,
.fa-light,
.fa-regular {
    font-family: "Font Awesome 6 Free" !important
}

.div-element{
    display: inline-flex;
    color: rgb(255, 255, 255);
    text-align: center;
    background: content-box rgb(84, 105, 141);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 0px;
    font-family: 'Proxima Nova' !important;
}

.flex-container-view{
    display: flex;
    font-family: 'Proxima Nova' !important;
}

.flex-view-1{
    border: 1px solid #D7D7D7;
    flex: 30%;
    border-radius: 20px;
    position: relative;
    font-family: 'Proxima Nova' !important;
}

.flex-view-2{
    border: 1px solid #D7D7D7;
    flex: 30%;
    border-radius: 20px;
    position: relative;
    font-family: 'Proxima Nova' !important;
}

.flex-view-3{
    border: 1px solid #D7D7D7;
    flex: 30%;
    border-radius: 20px;
    position: relative;
    font-family: 'Proxima Nova' !important;
}

.last-section{
    display: flex;
    font-family: 'Proxima Nova' !important;
}

.mileage-view{
    border: 1px solid #D7D7D7;
    flex: 31%;
    height: auto; 
    border-radius: 20px;
    position: relative;
    font-family: 'Proxima Nova' !important;
}

.reimbursement-view{
    border: 1px solid #D7D7D7;
    flex: 29%;
    height: auto;
    border-radius: 20px;
    position: relative;
    font-family: 'Proxima Nova' !important;
}

.div-element span{
    align-self: center;
    margin: auto;
    font-size: 1.575rem;
    padding: 0.5rem;
    font-family: 'Proxima Nova' !important;
}

.icon-size{
    width: 30px;
    height: 30px;
}

.icon-value{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;
    font-family: 'Proxima Nova' !important;
}

.top-menu{
    width: 100%;
    height: 64px;
    left: 240px;
    top: 0px;
    margin-bottom: 35px;
    border-bottom: 1px solid #D7D7D7;
    font-family: 'Proxima Nova' !important;
}

 .main{
    margin-left: 80px;
    font-family: 'Proxima Nova' !important;
}

.layer-first{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    font-family: 'Proxima Nova' !important;
}

.middle-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    /* height: 112px; */
    background: #F7F7F7;
    border-radius: 20px;
    font-family: 'Proxima Nova' !important;
}

.middle-1{
    /* flex: 1 1 26%; */
    flex-basis: auto;
    flex-grow: 2;
    margin: 0 15px 0px 0;
}

.middle-2{
    /* flex: 1 1 13%; */
    flex-basis: auto;
    flex-grow: 2;
    margin: 0 15px 0px 0;
}

.middle-3{
   /* flex: 1 1 13%; */
   flex-basis: auto;
   flex-grow: 2;
   margin: 0 15px 0px 0;
}

.middle-4{
    /* flex: 1 1 13%; */
    flex-basis: auto;
    flex-grow: 2;
    margin: 0 15px 0px 0;
}

.middle-5{
    /* flex: 1 1 11% */
    flex-basis: auto;
    margin: 0 30px 0px 0;
}

.sidebar-open {
    margin-left: 272px;
}

.middle-icon{
    width: 45px;
    height: 45px;
}

.icon-holder{
    text-align: center;
}

.slds-btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
}

.slds-btn-primary {
    color: #fff;
}

.bc-green {
    background: none !important;
    background-color: #7ABB4A !important;
    font-family: 'Proxima Nova Bold' !important;
}

.slds-btn {
    /* margin: .375rem; */
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    /* -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-family: 'Proxima Nova' !important; */
}

.waves-effect:focus {
    outline: none !important;
}

.waves-effect:hover {
    opacity: 1;
}


.filter-input{
    border: 0;
    padding-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Proxima Nova' !important;
  }
  
  .search-icon{
    width: 19px;
    height: 19px;
    margin: 10px 11px 10px 18px;
  }
  
  .search-holder{
    display: flex;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    width: 300px;
    height: 40px;
  }
  
  .close-notify{
    cursor: pointer;
  }

  .slds-input:focus{
    --slds-c-input-shadow: none !important;
    box-shadow: none !important;
  }

  .icon-holder-navigate{
    background-color: var(--green-color);
    color: var(--even-row-color);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    font-family: 'Proxima Nova' !important;
}

.navigate{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2em !important;
    font-family: 'Proxima Nova' !important;
}

.flex-row{
    display: flex; 
    flex-flow: row-reverse;
    cursor: pointer;
    font-family: 'Proxima Nova Bold' !important;
}

.a-link{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    color: #7ABB4A !important;
    padding-bottom: 8px;
    float: right;
    font-family: 'Proxima Nova Bold' !important;
}

.a-link:hover{
    text-decoration: underline;
}

.a-link:focus{
    box-shadow: none !important;
}

.a-link:focus-visible {
    outline: none !important;
}

.a-link:active {
    text-decoration: underline;
    border-color: #fff !important;
}

.middle-div{
    height: 10px;
    /* width: 69px;  */
    width: calc(100% - 272px);
    margin-right: 9px; 
    border: 1px solid #D7D7D7;
    border-radius: 56px;
    font-family: 'Proxima Nova' !important;
}

.in-complete{
    background: var(--step-bg);
}

.not-in-complete{
    opacity: 0.4;
}

.icon-value{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;
}


.content-text>*:has(+ .arrow-svg:hover){
    color: var(--green-color) !important;
}

.content-text:has(+ .arrow-svg:hover){
    color: #7ABB4A !important;
}

.content-text{
    pointer-events: none;
}

.content-text + div{
   cursor: pointer;;
}

.arrow-svg{
    margin: 0 0 1px 2px;
    cursor: pointer;
}

.content-text>*{
    font-family: 'Proxima Nova Bold' !important; 
    font-size: 32px; 
    line-height: 32px; 
    color: rgb(29, 29, 29);
}

.text-view{
    text-align: end;
}

.completed{
    background: #7ABB4A;
}

.pending{
    background: linear-gradient(90deg, #7ABB4A 60%, #ededed 60%);
}

.fa-arrow-right-from-bracket{
    color: #7ABB4A !important;
}

.a-link{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    color: #7ABB4A !important;
    float: right;
    font-family: 'Proxima Nova Bold' !important;
}

.a-link:hover{
    text-decoration: underline;
}

.a-link:focus{
    box-shadow: none !important;
}

.a-link:focus-visible {
    outline: none !important;
}

.a-link:active {
    text-decoration: underline;
    border-color: #fff !important;
}

.notify-toggle{
   position: absolute;
   bottom: 0;
   right: 0;
}

.notify-container{
    height: 190px /*206px;*/
    /* padding-left: 0.6em;
    margin-right: 0.6em; */
}

.white-cross{
    color: #FFFFFF !important;
}

.error-cross{
    color: #fa7800 !important;
}

.fa-xmark{
    cursor: pointer;
}

.no-data-message{
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    color: var( --link-color);
    font-family: 'Proxima Nova Semibold' !important;
}

.opaque{
    opacity: 0.4;
}

.bold-text{
    font-size: 22px;
    font-family: 'Proxima Nova Bold' !important;
    line-height: 18px;
    color: var(--link-color) !important;
}

.bold-sub-text{
    font-size: 14px;
    font-family:'Proxima Nova Bold' !important;
    line-height: 17px;
    color: var(--link-color) !important;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux{
    border-color: var(--active-color) !important;
    background-color: var(--active-color) !important;
}

.slds-checkbox_toggle .slds-checkbox_faux.toogle-input{
    border-color: var(--active-color) !important;
    background-color: var(--active-color) !important;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container+.input-label .map--canada{
    color: #1D1D1D;
    font-family: 'Proxima Nova Bold' !important;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container+.input-label .map--us{
    color: rgba(29, 29, 29, 0.50);
    font-family: 'Proxima Nova' !important;
}

.slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container+.input-label .map--canada{
    color: rgba(29, 29, 29, 0.50);
    font-family: 'Proxima Nova' !important;
}

.slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container+.input-label .map--us{
    color: #1D1D1D;
    font-family: 'Proxima Nova Bold' !important;
}

.slds-checkbox_toggle .slds-checkbox_faux{
    box-shadow: none !important;
}

.map-label{
    font-size: 14px;
    line-height: 136.8%;
}

.close-btn{
    background: var(--even-row-color);
    position: absolute;
    right: 7px;
    top: 9px;
}

.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slds-progress-bar__value{
    background: var(--green-color) !important;
}

.grid-block{
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    column-gap: 10px;
}

[data-customtooltip] {
    cursor: pointer;
    position: absolute;
    left: 200px;
    top: 19px;
}

[data-customtooltip]::after {
    background-color: #F7F7F7;
    font-family: 'Proxima Nova SemiBold' !important;
    color: #1D1D1D;
    width: 180px;
    white-space: normal;
    font-size: 12px;
    padding: 8px 12px;
    height: fit-content;
    z-index: 1;
    border-radius: 2px;
    border: 1px solid #4DBFFF;
    position: absolute;
    bottom: 0px;
    left: 100%;
    top: 14px;
    content: attr(data-customTooltip);
    transform: translate(4%, -45%) scale(0); /*translate(-50%, 110%) scale(0)*/;
    transform-origin: right;
    transition: 0.14s;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

[data-customtooltip]:hover:after {
    display: block;
    transform: translate(4%, -45%) scale(1);
}

.slds-checkbox_toggle .slds-checkbox_faux::before{
    content: 'USA';
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Proxima Nova' !important;
    position: absolute;
    top: 0px;
    right: 17px;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:after{
    border-bottom-style: none !important;
    border-right-style: none !important;
    content: 'Canada';
    color: #FFFFFF;
    font-family: 'Proxima Nova' !important;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 14px;
    width: 0 !important;
    height: 0 !important;
    transform: none !important;
}

.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux{
    width: 92px;
}

.slds-checkbox_toggle .slds-checkbox_faux_container .slds-checkbox_faux{
    width: 77px;
}