$maro-color:#efefef;
$white-color: #ffffff;
$white: #ffffff;

// color Start
$primary-color: #78bc42;
$secondary-color:   #404b5b;
$third-color:   #b9bdc3;
$second-btn-hover:#657080;
$third-btn-bg: #B93847;

//font size
$font-size : 14px;
$font-weight : 600;
$h1 : 36px;
$h2 : 30px;
$h3 : 24px;
$h4 : 20px;
$h5 : 18px;
$h6 : 16px;

//button color

// placeholder font color
$placeholder:#bbbbbb;
$placeholder-font-size:14px;

//input color
// $dark-font-input:#4a4a4a;

//validation color
$danger-color:#d0021b;

// //focus color
$focus-color:#4a90e2;

// Disable button color
$disable-color:#f7f7f7; 